h1 {
  color: red;
  border: 1px solid green;
}
img {
  width: 100px;
}
.logout-btn {
  /* display: inline-block;
  justify-content: flex-end;  */
  color: white; /* White text color for the button */
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #007bff; /* Blue color for the button */
}
.logout-btn:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
/* CSS để căn giữa chữ "Chào mừng" */
.welcome-text {
  text-align: center;
}
