/* /public/css/styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.form-label {
  display: inline-block;
  width: 150px; /* Độ rộng tối đa của label */
  text-align: right; /* Căn lề phải của label để cân bằng khoảng trống */
  margin-right: 20px; /* Khoảng cách bên phải của label và input */
}

/* CSS cho bảng */
#timetable-columns {
  display: flex;
  flex-direction: column; /* Thay đổi hướng từ ngang sang dọc */
  padding: 20px;
}

/* Để thêm CSS cho các cột trong #timetable-columns, bạn có thể sử dụng các lớp con hoặc phần tử con tùy theo cấu trúc của trang web của bạn */
#timetable-columns .timetable-column {
  flex: 0 0 auto;
  margin-bottom: 20px; /* Khoảng cách giữa các cột */
  background-color: #fff; /* Màu nền của cột */
  border: 1px solid #ccc; /* Viền của cột */
  border-radius: 5px; /* Độ cong của viền */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho cột */
}

/* CSS cho tiêu đề của cột */
#timetable-columns .column-header {
  background-color: #5cb85c; /* Màu nền của tiêu đề cột */
  padding: 10px;
  text-align: center; /* Căn giữa nội dung tiêu đề cột */
}

/* CSS cho các mục trong cột */
#timetable-columns .timetable-entry {
  padding: 10px;
  text-align: left;
  /* border-top: 1px solid #ccc;  */
}

/* Thêm CSS cho dòng */
.timetable-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Khoảng cách giữa các dòng */
  background-color: #fff; /* Màu nền của dòng */
  border: 1px solid #ccc; /* Viền của dòng */
  border-radius: 5px; /* Độ cong của viền */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho dòng */
}

/* CSS cho tiêu đề của dòng */
.row-header {
  /* background-color: #5CB85C; */
  padding: 10px;
  text-align: center; /* Căn giữa nội dung tiêu đề cột */
  /* width: 100%;  */
}
