<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Trang chủ</title>
    <link
      rel="stylesheet"
      href="/css/styles.css"
    />
  </head>
  <body>
    <img
      src="/image/cover.png"
      alt=""
      style="width: 1204px; height: 260px"
    />
    <h1 class="welcome-text">Chào mừng đến với trang Admin</h1>
    <a
      href="/lecturelist"
      class="btn"
      >Danh sách giáo viên</a
    >
    <a
      href="/create-lecturer"
      class="btn"
      >Thêm giáo viên</a
    >
    <a
      href="/timetablelist"
      class="btn"
      >Danh sách lịch học</a
    >
    <a
      href="/create-timetable"
      class="btn"
      >Thêm lịch học</a
    >
    <a
      href="/timetable"
      class="btn"
      >Xem thời khoá biểu</a
    >
    <a
      href="/staff"
      class="btn"
      >Danh sách nhân viên</a
    >
    <a
      href="/staffinsertview"
      class="btn"
      >Thêm nhân viên</a
    >
  </body>
</html>
